*{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
body{
    background: #f7f8f9;
}
#nr div{
    float: left;
}
#bt{
    width: 15%;
    height: 400px;
    background: white;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
}
#bt p{
    margin-top: 20px;
}
.cheng{color: orange}
#wz{
    width: 70%;
    height: 600px;
    float: left;
    background: white;
    margin-left: 50px;
    margin-top: 20px;
}
#wz h4{
    padding: 50px;
}
#t{
    margin-top: 20px;
    width: 100%;
    height: 130px;
    background-color: #f0f0f0;
}
#t div{
    float: left;
    margin-top: 20px;
    margin-left: 160px;
    display: inline-block;padding-left: 5px;padding-right: 5px;margin-right: 5px;
}
a{
    text-decoration:none;
    color:#333;
}