* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.con {
  margin: 0 auto;
}
#navBarH2 {
  position: relative;
  top: 0;
  width: auto;
  height: 50px;
  background: rgba(225,225,225,0.9);
  text-align: center;
  box-shadow: 1px 1px 3px #aaaaaa;
  border-bottom: 1px solid #e0e0e0;
}
#navBarH2 #nav-bar-h2 {
  position: relative;
  text-align: center;
  width: 1140px;
  height: 50px;
}
#navBarH2 #nav-bar-h2 #logo-h2 {
  position: absolute;
  width: 160px;
  height: 50px;
  left: 0;
  top: 0;
  text-align: left;
  display: inline-block;
  line-height: 50px;
  font-size: 26px;
}
#navBarH2 #nav-bar-h2 #logo-h2 a {
  color: #616161;
  font-weight: 400;
  font-family: Arial;
}
#navBarH2 #nav-bar-h2 #nav-buy {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  line-height: 50px;
  width: 450px;
  font-size: 14px;
  height: 50px;
  padding-right: 120px;
}
#navBarH2 #nav-bar-h2 #nav-buy .buy-par {
  display: inline-block;
  text-align: center;
  width: 45px;
  height: 50px;
  color: #616161;
  padding: 0 2px;
}
#navBarH2 #nav-bar-h2 #nav-buy .buy-par:hover {
  color: #e46d2c;
}
#navBarH2 #nav-bar-h2 #nav-buy .buy-btn {
  width: 110px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #e46d2c;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 0;
}
.content-whole {
  width: 1366px;
  margin: auto;
}
.section {
  position: relative;
  overflow: hidden;
}
#section1 {
  height: 700px;
  background: url(../images/luo/section01_bg.jpg) no-repeat;
  background-size: 100% 700px;
  background-position: center center;
}
.word {
  position: relative;
  color: #fff;
}
.sectionCon {
  width: 1000px;
  margin: auto;
  position: relative;
}
.sectionCon #wordpan {
  position: relative;
  padding: 138px 0 0 0;
}
.sectionCon #wordpan img {
  margin: 29px 0 49px 0;
}
.sectionCon #wordpan h3 {
  font-size: 46px;
  transition: all 1.5s 0.6s;
  font-weight: 500;
  line-height: 1.1;
}
.sectionCon #wordpan h5 {
  font-size: 32px;
  padding: 16px 0 70px;
  font-weight: 500;
  transition: all 1.5s 0.9s;
}
.sectionCon #wordpan p {
  color: #a8afcd;
  line-height: 40px;
  font-weight: 400;
  font-size: 14px;
  margin-left: -5px;
  transition: all 1.5s 1.2s;
}
.sectionCon #wordpan p .line {
  margin: 0 5px;
}
.sectionCon .lighting {
  position: absolute;
  top: 0;
  right: -52px;
  transition: all 2s 1.6s;
}
.sectionCon .Tagging {
  margin-top: 10px;
  font-size: 12px;
  width: 500px;
  text-align: left;
  color: #7a7c8b;
}
#section2 {
  background: #212121;
  height: 760px;
}
.text-center {
  text-align: center;
}
.text-center h3 {
  margin: 30px 0 16px;
  font-size: 36px;
  font-weight: 500;
}
.swiper-slide p {
  color: #fff;
  font-size: 30px;
  margin: 20px 0 0 0 ;
  font-family: Microsoft YaHei;
}
.arrow_l {
  position: absolute;
  left: 50px;
}
.arrow_r {
  position: absolute;
  right: 50px;
}
#section3 {
  height: 690px;
  background: url(../images/luo/section03_bg.jpg) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
#section3 .word {
  margin: 50px 0 0 38px;
}
#section3 .word h3 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}
#section3 .word p {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0 20px 0;
}
#section3 .word .section3-img {
  margin-top: 28px;
  width: 320px;
  height: 100px;
  background: url(../images/luo/section03_word.png) no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
#section3 .word p {
  margin: 20px 0 0;
  font-size: 12px;
}
#section4 {
  height: 500px;
}
#section4 h5 {
  font-size: 24px;
  color: #232227;
  font-weight: 300;
  margin: 30px 0 20px;
  transform: translate3d(0, 0, 0);
}
#section4 h3 {
  font-size: 36px;
  color: #232227;
  margin: 28px 0 20px 0;
  transition: all 1.5s 0.6s;
}
#section4 hr {
  width: 120px;
  color: #868686;
  margin: 0 auto;
  text-align: center;
}
#section4 p {
  font-size: 16px;
  line-height: 40px;
  color: #232227;
  font-family: 'Arial';
  transition: all 1.5s 0.9s;
}
#section4 img {
  margin: 30px 0 0 0;
}
#section5 {
  height: 670px;
  background: url('../images/luo/section05_bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
#section5 .word {
  position: absolute;
  top: 70px;
  right: 0;
  color: #232227;
}
#section5 .word h3 {
  line-height: 48px;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 500;
}
#section5 .word .section5Tagging {
  font-size: 14px;
  font-weight: 700;
  margin-top: 30px;
}
#section6 .word {
  color: #232227;
}
#section6 .word p {
  margin: 0 0 25px 0;
}
#section6 .section6-img {
  height: 550px;
  background: url('../images/luo/section06_qingxi.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
#section7 {
  height: 575px;
  background: url('../images/luo/section07_bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
#section7 h3 {
  margin: 150px 0 20px 0;
  font-size: 32px;
  font-family: 'Arial';
  font-weight: 500;
}
#section7 h5 {
  font-weight: 400;
}
#section8 .set8-bg {
  height: 380px;
  background: url('../images/luo/section08_bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
#section8 .word {
  position: absolute;
  right: 0;
  top: 40px;
}
#section8 .word h4 {
  font-weight: 400;
  font-size: 24px;
}
#section8 .word h3 {
  margin: 35px 0 20px 0;
  font-size: 32px;
  font-family: 'Arial';
  font-weight: 500;
}
#section8 .word p {
  font-weight: 400;
  font-family: 'Arial';
}
#section8 .set8-img {
  position: absolute;
  top: -50px;
}
#section9 .set9-bg {
  position: relative;
  height: 680px;
  background: url('../images/luo/fragment4_bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
#section9 h1 {
  height: 35px;
}
#section9 h3 {
  margin: 0 0 30px;
}
#section9 p {
  font-family: 'Arial';
  font-weight: 400;
  color: #e0e0e0;
}
#section9 .animation-layout {
  text-align: center;
  color: #fff;
}
#section9 .animation-layout ul {
  margin-top: 50px;
}
#section9 .animation-layout ul li {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-family: Arial;
}
#section9 .animation-layout ul li h3 {
  margin: 0;
  font-weight: 400;
}
#section9 .animation-layout ul li .line-wrap {
  position: relative;
  color: #f6f6f6;
  width: 577px;
}
#section9 .animation-layout ul li .line-wrap .line1 {
  text-align: left;
}
#section9 .animation-layout ul li .line-wrap .line1 img {
  display: block;
}
#section9 .animation-layout ul li .line-wrap .line2 {
  text-align: left;
}
#section9 .animation-layout ul li .line-wrap .line2 img {
  display: block;
}
#section9 .animation-layout ul li h5 {
  font-size: 14px;
  font-weight: 400;
}
#section9 .animation-layout .num {
  font-size: 36px;
  color: #66e4f3;
}
#section9 ul:nth-child(2) .line1 img {
  width: 81%;
  height: 30px;
}
#section9 ul:nth-child(2) .line2 img {
  width: 100%;
  height: 30px;
}
#section10 .word {
  color: #232227;
  margin: 30px 0 0 10px;
}
#section10 .word h6 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
#section10 .text-center ul {
  display: block;
  margin: 35px 0 10px 0;
}
#section10 .text-center ul li {
  display: inline-block;
  margin-right: 30px;
}
#section10 .text-center ul li h5 {
  margin: 28px 0 20px ;
  font-size: 15px;
  color: #4c8ae3;
}
#section10 .text-center ul li:nth-last-of-type(1) {
  margin-right: 0;
}
#section11 {
  height: 1200px;
  background: url('../images/luo/section17_bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
#section11 .text-center h3 {
  color: #2b2b2b;
  line-height: 45px;
  margin: 55px 0 20px;
}
#section11 .text-center p {
  color: #585d60;
  margin-bottom: 10px;
}
#section11 .text-center img {
  margin: 30px 0 0;
}
#section11 .animation-layout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 30px, 0);
  transition: all 1.5s 1.2s;
}
#section11 .img1 {
  position: absolute;
  left: 50%;
  margin-left: -979px;
  top: 173px;
}
#section11 .img2 {
  position: absolute;
  left: 50%;
  margin-left: -979px;
  top: 173px;
  z-index: 2;
}
#section11 .img3 {
  position: absolute;
  left: -248px;
  top: 364px;
}
#section11 .img4 {
  position: absolute;
  left: -78px;
  top: 364px;
  z-index: 1;
}
#section11 .img5 {
  position: absolute;
  right: -102px;
  top: 364px;
  z-index: 1;
}
#section11 .img6 {
  position: absolute;
  right: -183px;
  top: 364px;
}
#section11 .more {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 10px;
}
#section12 {
  height: 570px;
  background: url('../images/luo/section24_bg.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}
#section12 h3 {
  margin: 100px 0 40px;
}
#section12 p {
  margin: 0 0 60px;
  line-height: 24px;
  font-weight: 400;
  font-family: Arial;
}
#explanation {
  height: 300px;
  background: url('../images/luo/noDuty.jpg') no-repeat;
  background-position: center center;
}
