* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.con {
  margin: 0 auto;
}
#navBarH2 {
  width: auto;
  height: 50px;
  overflow: hidden;
  border: 1px solid red;
}
#navBarH2 #nav-bar-h2 {
  width: 1140px;
  height: 50px;
  border: 1px solid red;
}
