@32:32px;

* {padding: 0;margin: 0;list-style: none;text-decoration: none;}




.subnav {
    position: relative;
    width: 100%;
    height: 70px;
    background: #010101;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 1140px;
    .subnav-tab1{
        float: left;
     }
    .subnav-tab2{
       float: right;
    }
    ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: block;
            list-style: none;
            float: left;
           a {
                display: inline-block;
                color: #6d6d6d;
                padding: 0 20px;
                border-left: 1px solid #6d6d6d;
                height: 16px;
                line-height: 16px;
                margin-top: 27px;

                &:hover{
                    color: #fff;
                }
            
            }
        }
    }
    .link-btn {
        width: 100px;
        height: 35px;
        line-height: 35px;
        background: #5e85f2;
        padding: 0;
        font-size: 16px;
        color: #fff;
        text-align: center;
        margin: 18px 0 0 20px;
        border-left: none;
        cursor: pointer;
    }
}



p{font-family: Arial; }

.content-whole {
    width: 1366px;
    margin: auto;
  }
  .section {
    position: relative;
  }
  .text-center{
    text-align: center;
  }
  .word{
    position: relative;
  }


.section{
    position: relative;
}



#section{
    height: 580px;
    background: url(./../images/luo/Laser-television.jpg)no-repeat;
    background-size: 100% 100%;
    background-position: center center;

}
#section1 {
    height: 720px;
    background: url(./../images/luo/section1a_bg.jpg)no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    .word{
        h3{
            color: #dbb872;
            font-size: 24px;
            font-weight: 400;
            padding:  75px 0 0;
            font-family: FZBoYaFangKanSongS;
          
        }
        hr {
            width: 88px;
            height: 2px;
            background: #dbbf83;
            margin: 0 auto;
            border: none;
            position: relative;
        }
        p{
            color: #a7a7a7;
            line-height: 26px;
            margin: 30px 0 0 0;
        }
    }
    .product-banner-tip {
        position: absolute;
        font-size: 12px;
        bottom: 10px;
        left: 0;
        width: 100%;
        text-align: center;
    }

}

#section2 {
    height: 760px;
    background: url(./../images/luo/section2a_bg.jpg)no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    .word{
        h3{
            color: #dbb872;
            font-size: @32;
            font-weight: 400;
            padding:  75px 0 0;
            font-family: FZBoYaFangKanSongS;
          
        }
        hr {
            width: 88px;
            height: 2px;
            background: #dbbf83;
            margin: 40px auto;
            border: none;
            position: relative;
        }
        p{
            font-size: 16px;
            color: #a7a7a7;
            line-height: 26px;
            margin: 30px 0 0 0;
        }
    }
     .section-footer {
        width: 100%;
        position: absolute;
        bottom: 90px;
        left: 0;
         ul{
             display: inline-block;
             cursor: pointer;

                li {
            float: none;
            display: inline-block;
            font-size: 16px;
            color: #fff;
            padding: 0 25px;
            border-right: 1px solid #fff;
            height: 20px;
            line-height: 20px;
        }
         }
    }
}

#section3 {
    height: 1050px;
    background: url(./../images/luo/asection3a_bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    .word{
        h3{
            color: #dbb872;
            font-size: @32;
            font-weight: 400;
            padding:  58px 0 0;
            font-family: FZBoYaFangKanSongS;
          
        }
        hr {
            width: 88px;
            height: 2px;
            background: #dbbf83;
            margin: 40px auto;
            border: none;
            position: relative;
        }
        p{
            font-size: 16px;
            color: #a7a7a7;
            line-height: 26px;
            margin: 30px 0 0 0;
        }
    }
    .small-img {
        position: absolute;
        left: 50%;
        margin-left: -615px;
        bottom: 55px;
    }
     .section-footer {
        width: 100%;
        position: absolute;
        bottom: 90px;
        left: 0;
         ul{
             display: inline-block;
             cursor: pointer;

                li {
            float: none;
            display: inline-block;
            font-size: 16px;
            color: #fff;
            padding: 0 25px;
            border-right: 1px solid #fff;
            height: 20px;
            line-height: 20px;
        }
         }
    }
}

#section4 {
    height: 920px;
    background: url(./../images/luo/section4a_bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    .word{
        h3{
            color: #dbb872;
            font-size: @32;
            font-weight: 400;
            padding:  95px 0 0;
            font-family: FZBoYaFangKanSongS;
          
        }
        hr {
            width: 88px;
            height: 2px;
            background: #dbbf83;
            margin: 40px auto;
            border: none;
            position: relative;
        }
        p{
            font-size: 16px;
            color: #a7a7a7;
            line-height: 26px;
            margin: 30px 0 0 0;
        }
    } 

     .section-footer {
        width: 100%;
        position: absolute;
        bottom: 90px;
        left: 0;
         ul{
             display: inline-block;
             cursor: pointer;

                li {
            float: none;
            display: inline-block;
            font-size: 16px;
            color: #fff;
            padding: 0 25px;
            border-right: 1px solid #fff;
            height: 20px;
            line-height: 20px;
        }
         }
    }
}

#section5 {
    height: 740px;
    background: url(./../images/luo/section5a_bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    .word{
        h3{
            color: #dbb872;
            font-size: @32;
            font-weight: 400;
            padding:  95px 0 0;
            font-family: FZBoYaFangKanSongS;
          
        }
        hr {
            width: 88px;
            height: 2px;
            background: #dbbf83;
            margin: 40px auto;
            border: none;
            position: relative;
        }
        p{
            font-size: 16px;
            color: #a7a7a7;
            line-height: 26px;
            margin: 30px 0 0 0;
        }
    } 
     .people {
        position: absolute;
        left: 50%;
        margin-left: -189px;
        bottom: 71px;
        z-index: 2;
        transition: z
    }
    img{
        width: auto;
        height: auto;
        max-width: 85%;
    }

     .section-footer {
        width: 100%;
        position: absolute;
        bottom: 90px;
        left: 0;
         ul{
             display: inline-block;
             cursor: pointer;

                li {
            float: none;
            display: inline-block;
            font-size: 16px;
            color: #fff;
            padding: 0 25px;
            border-right: 1px solid #fff;
            height: 20px;
            line-height: 20px;
        }
         }
    }
}

#section6 {
    height: 790px;
    background: url(./../images/luo/section6a_bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    .word{
        h3{
            color: #dbb872;
            font-size: @32;
            font-weight: 400;
            padding:  95px 0 0;
            font-family: FZBoYaFangKanSongS;
          
        }
        hr {
            width: 88px;
            height: 2px;
            background: #dbbf83;
            margin: 40px auto;
            border: none;
            position: relative;
        }
        p{
            font-size: 16px;
            color: #a7a7a7;
            line-height: 26px;
            margin: 30px 0 0 0;
        }
    } 
     .people {
        position: absolute;
        left: 50%;
        margin-left: -189px;
        bottom: 71px;
        z-index: 2;
        transition: z
    }
    img{
        width: auto;
        height: auto;
        max-width: 85%;
    }

     .section-footer {
        width: 100%;
        position: absolute;
        bottom: 90px;
        left: 0;
         ul{
             display: inline-block;
             cursor: pointer;

                li {
            float: none;
            display: inline-block;
            font-size: 16px;
            color: #fff;
            padding: 0 25px;
            border-right: 1px solid #fff;
            height: 20px;
            line-height: 20px;
        }
         }
    }
}

#section7 {
    height: 850px;
    background: url('./../images/luo/section7a_bg.jpg') no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    .word{
        h3{
            color: #dbb872;
            font-size: @32;
            font-weight: 400;
            padding:  95px 0 0;
            font-family: FZBoYaFangKanSongS;
        }
        hr {
            width: 88px;
            height: 2px;
            background: #dbbf83;
            margin: 40px auto;
            border: none;
            position: relative;
        }
        p{
            font-size: 16px;
            color: #a7a7a7;
            line-height: 26px;
            margin: 30px 0 0 0;
        }
        a{
            position: relative;
            display: inline-block;
            font-size: 16px;
            color: #cbb27a;
            margin: 25px 0 0 0;
        }
    } 
    .icon-list1{
        position: relative;
        margin: 50px 0 30px;

        li{
            display: inline-block;
            margin: 0 78px 0 0;
        }
        li:nth-last-of-type(1) {
            margin-right: 0;
        }
    }
    .icon-list2 {
        p{
            color: #dbbf83;
            margin-top: 20px;
            font-size: 18px;
        }
    }
}


#section8 {
    height: 360px;
    background: url('./../images/luo/section8a_bg.jpg') no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    .sec-con{
            width: 1000px;
            position: relative;
            height: 100%;
            margin: auto;
        .word{
            position: absolute;
            top: 136px;
            right: 0px;
            h3{
                color: #dbb872;
                font-size: @32;
                font-weight: 400;
                font-family: FZBoYaFangKanSongS;
            }
            p{
                font-size: 16px;
                color: #a7a7a7;
                line-height: 26px;
                margin: 30px 0 0 0;
            }
            a{
                position: relative;
                display: inline-block;
                font-size: 16px;
                color: #cbb27a;
                margin: 25px 0 0 0;
            }
        } 
        .pic{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    

}

#explanation{
    height: 300px;
    background:url('./../images/luo/noDuty.jpg') no-repeat;
    background-position: center center;
}


