
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  font-family: Arial;
}
a:hover {
  text-decoration: underline;
  text-decoration: none;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
.fl,
.l {
  float: left;
}
.fr,
.r {
  float: right;
}
.c {
  clear: both;
}
.o {
  overflow: hidden;
}
.hot-cities {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #dcdcdc;
}
.hot-cities span {
  display: inline-block;
  line-height: 22px;
  float: left;
}
.hot-cities input.text {
  color: #b7b7b7;
  width: 379px;
  height: 16px;
  line-height: 16px;
  border: 1px solid #cfcfcf;
  float: left;
  margin-right: 8px;
  font-size: 12px;
  padding: 2px 0 2px 5px;
}
.search-citys { 
  float: left;
  position: relative;
  height: 22px;
}
.search-citys .search-citys-pop {
  position: absolute;
  border: 2px solid #cfcfcf;
  top: 45px;
  left: 105px;
  width: 384px;
  z-index: 1;
  display: block;
  font-size: 12px;
}
.search-citys-tit {
  padding: 10px 10px 0;
}
.search-citys-tt {
  margin: 12px;
  border-bottom: 2px solid #EDD28B;
  height: 22px;
}
.search-citys-tt a {
  display: block;
  height: 22px;
  float: left;
  border: 1px solid #dddddd;
  border-bottom: 0px solid;
  color: #005AA0;
  line-height: 22px;
  text-align: center;
  padding: 0 8px;
  margin-left: 2px;
  _display: inline-block;
  margin-bottom: -1px;
  position: relative;
}
.search-citys-tt a.current {
  background-color: #fff;
  color: #005AA0;
  text-decoration: none;
  border: 2px solid #EDD28B ;
  border-bottom: #FFF 0px solid;
}
.search-citys-tt a span {
  max-width: 70px;
  overflow: hidden;
  height: 22px;
  padding-right: 10px;
}
.search-citys-tt a i {
  background-image: url(../images/jd-stock.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 4px;
  top: 10px;
  display: block;
  width: 7px;
  height: 5px;
  overflow: hidden;
  background-position: 0 -35px;
}
.text {
  min-width: 150px;
  height: 22px;
  display: block;
  background: #fff;
  border: 1px solid #7a7a7a;
}
.text #pop_cityValue {
  margin: 0px 5px 0px 5px;
  color: #666666;
}
.search-citys-list {
  background: #fff;
  padding: 0 0 15px 10px;
}
.search-citys-list ul {
  overflow: hidden;
  width: 370px;
}
.search-citys-list li {
  float: left;
  min-width: 80px;
  padding: 5px 0 5px 12px;
}
.search-citys-list li.longtext {
  float: left;
  min-width: 170px;
  padding: 5px 0 5px 12px;
}
.search-citys-list li a {
  color: #555;
}
.pop {
  border: 3px solid #d4d4d4;
  background-color: #FFF;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 8500;
  display: none;
}
.pop a {
  color: #506eaa;
}
.pop a.pop-close {
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  right: 12px;
  top: 12px;
  background: url(../images/close.png) no-repeat 0 0;
}
.pop a.pop-close:hover {
  background-position: -17px 0;
}
