<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            list-style: none;
        }
    </style>
    <link rel="stylesheet" href="../public/css/foot.css">
</head>
<body>
    <footer>
        <div id="FrdLinks">
            <div class="zj-span1">
                <p class="ti">关于极米</p>
                <p><a href="https://www.xgimi.com/about.html">公司简介</a></p>
                <p><a href="https://www.xgimi.com/contact.html">联系我们</a></p>
                <p><a href="https://www.xgimi.com/hr.html">加入我们</a></p>
            </div>
            <div class="zj-span1">
                <p class="ti">服务支持</p>
                <p><a href="https://www.xgimi.com/question-pay.html">常见问题</a></p>
                <p><a href="https://www.xgimi.com/host_list.html">固件下载</a></p>
                <p><a href="https://www.xgimi.com/aftersales.html">售后服务</a></p>
            </div>
            <div class="zj-span1">
                <p class="ti">关注我们</p>
                <p><a href="http://weibo.com/u/3911924349" target="_blank">新浪微博</a></p>
                <p><a href="javascript:;">官方微信</a></p>
                <p><a href="https://bbs.xgimi.cn" target="_blank">极米社区</a></p>
            </div>
            <div class="zj-span1">
                <p class="ti">特色服务</p>
                <p><a href="https://shop.xgimi.com/gcode.html">G卡通道</a></p>
                <p><a href="https://shop.xgimi.com/balance_pay.html">价格保护</a></p>
                <p><a href="https://www.xgimi.com/cycle.html">以旧换新</a></p>
            </div>
            <div class="zj-span2">
                <div class="ti-contact-box">
                    <p class="ti-tel">400-0028-960</p>
                    <p class="ti-tel2">或 028-67563085</p>
                    <p class="ti-time">每日9:00-23:00 (仅收取市话费)</p>
                    <p class="ti-online"><button class="ti-btn">在线客服</button>
                    </p></div>
            </div>
        </div>
        <div id="footer-bottom">
            <p id="footer-bottom-p1">
                <img src="../public/images/logo-white.png">
                <a href="" target="_blank">京东自营店</a>
                <a href="" target="_blank">天猫旗舰店</a>
                <a href="" target="_blank">淘宝直营店</a>
                <a href="" target="_blank">国美旗舰店</a>
                <a href="" target="_blank">苏宁旗舰店</a>
                <a href="">渠道加盟</a>
            </p>
            <hr>
            <p id="footer-bottom-p2">
                ©2019 ZEFFIRA. All Rights Reserved.&nbsp;&nbsp;
                <a href="http://beian.miit.gov.cn" target="_blank">蜀ICP备12003417号-1</a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51019002000758" target="_blank" class="t-p">川公网安备 51019002000758号</a>
                <a href="https://tsm.miit.gov.cn:9099/pages/home.aspx" target="_blank" class="t-p" style="margin-left: 8px">增值电信业务经营许可证：川B2-20180333</a>
                <a href="https://file02.xgimi.com/official/images/shop/businessLicense.jpg" target="_blank" class="t-p" style="margin-left: 8px">营业执照</a>
                <a href="http://sc.gsxt.gov.cn/index.html" class="gongshang f" target="_blank"></a>
            </p>
        </div>
    </footer>
</body>
<script>
</script>
</html>